<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-intro-text"> <h3>
        I’m Yudhanjaya Wijeratne (@yudhanjaya), author, data scientist and general tinkerer. 
        
        </h3> 
        <h4>I’m from Colombo, Sri Lanka. I'm playing an infinite game. </h4>
	</div>
	<div class="home-main-text">
		I’m always working on several things at any given time. Sometimes these are tiny projects - sometimes they’re long, perpetual, possibly Sisyphean acts of tomfoolery. Click here to see what I'm <a href="{{'/post/doing' | relative_url}}"> doing </a>.
		<br>
		<br>
		Click here to see what I've <a href="{{'/post/done' | relative_url}}"> done </a>. This page generally acts as a CV and about me. 
		<br>
		<br>
		Here are links to my  <a href="{{'/post/bibliography | relative_url}}"> bibliography </a> - novels, short stories, games, and papers. 
		<br>
		<br>
		Lastly, if you arrived at this website from a page that no longer exists, you may be looking for the <a href="{{'/post/faq| relative_url}}">  FAQ </a> or <a href="{{'/post/detritus| relative_url}}"> detritus </a> from my previous sites.
	</div> 
</div>













